.top,.bar-content,.bottom-of-top-bar{
  display:flex;
  align-items: center;
  justify-content: center;
}


.top{
  height: 104px;
  background-color: black;

  flex-direction: column;

}
.top-of-bar{
  display:flex;
  justify-content: center;
  height: 40px;
  width: 100%;
  display: flex;
  border-bottom:1px solid white;
  
}

.bar-content{
  width: 920px;
  background-color: white;
  padding: 0px 30px;

}


.bottom-of-top-bar{
  height:64px;
  width: 980px;
  background-color: white;
}





