@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

li{
  list-style-type: none;
  height: 24px
}

body{
  font-family :  "DM Sans",sans-serif ;
}

ul{
  padding:0;
  margin: 0;
}

a{
  color: black;
  text-decoration: none;
}

input{
  border: 1px solid #ccc;
}

ul:hover{
  cursor: pointer
}


.top,.bar-content{
  display:flex;
  align-items: center;
  justify-content: center;
}

.bottom-of-top-bar{
  display:flex;
  align-items: center;
  justify-content: center;
  border-top:1px solid white;
  
}


.top{
  height: 104px;
  background-color: black;
  flex-direction: column;
}

.top-of-bar{
  display:flex;
  justify-content: center;
  height: 40px;
  width: 100%;
  display: flex;
  position: sticky;
  top:0px;
  background-color: black;
}

.bar-content{
  width: 920px;
  background-color: white;
  padding: 0px 30px;

}


.bottom-of-top-bar{
  height:64px;
  width: 100%;
}

.center-logo{
  height:27px;
  width: 18%;
  padding-left: 12%;
}
.center-logo img{
  height:100%;
  width: 100%;
}

.search-holder{
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: solid grey .5px;
  background-color: white;
  position: sticky;
  top:40px;
}
.searchbar{
  max-width: 1330px;
  width:100%;
  display: flex;
  padding-top: 13px;
  justify-content: center;

}

.searchbar-content{
  width: 100%;
  background-color: white;
}

.sticky-search{
  position: sticky;
  padding-left: 5px;
  padding-right: 5px;
}

.top-content{
  display: flex;
  justify-content: space-between;
  min-width: 767px;
  padding-left: 5px;
  padding-right: 5px;
  height: 27px;
}

.bottom-content{
  padding-top: 9px; 
  padding-left: 0px;
  display: inline-flex;
  width: 100%;
  margin:0px;
  height:51px;
  justify-content: center;
}


.type .drop-down {
  display: none;
  position: absolute;
  padding-top:25px;
  max-height: 400px;
  min-height: 319px;
  max-width: 1330px;
  text-align: left;
  width:100vw !important;
  left: 0px;
  top: 51px;
  background-color: white;
  border-top: 1px solid grey;
}


.type:hover .drop-down {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
}

.item-box li a:hover{
  font-weight: bold;
}

.drop-down-content{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 25%;
  height: 100%;
  left:0;
  top:0;
}




.brands-header{
  padding: 0px 2.5% 0px 2.5%;
}
.drop-down-content img{
  height: 78%;
  width: 150px;
  
}

.item-box{
  padding-left: 5%;
  height:100%;
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
}

.title-holder{
  border-bottom: 1px solid grey;
}

.sale-picture{
  width:100% !important;
  height:60% !important;
  padding: 0px 3% 0px 3%;
}

.categories{
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 15px 2em;
  position: relative;
  color: black; 
  font-size: 12.5px;
  padding: 0;
}

.search-link a{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 19px;
}

.type:hover{
  font-weight: 600;
}

.left-header{
  display: flex;
  justify-content: space-between;
  width: 114px;
  height: 100%;
  left:0;
}

.right-header{
  display: flex;
  justify-content: space-between;
  width:266px;
  height: 50px;
}

.right-header img{
  height: 20px;
  width: 20px;
}
.right-header form{
  width: 160px;
  margin:0;
}

.top-content:hover img{
  cursor:pointer;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 49px;
  height:53vh;
  width: 100%;
  background-color: rgba(121,118,118,.1)
}

.footer-list a, .footer-text, .footer-text a, .footer-bottom{
  font: 71.5%/1 "DM Sans",sans-serif;
  font-size:12px;
  color:#797676; 
  font-weight: 100;
}



.radios{
  font: 71.5%/1 "DM Sans",sans-serif;
  font-size: 12px;
  color:#797676; 
  font-weight: 200;
}


.footer-content{
  display: flex;
  flex-direction: row;
  width: 86%;
  max-width: 1330px;
  height: 70%;
  padding-left: 1%;
  padding-right: 1%;
}

.footer-box{
  display: flex;
  float: left;
  text-align: left;
  flex-direction: column;
  width :25%;
  height: 80%;
  padding: 0% 1% 0% 1%;
}

.footer-box-title{
  padding-bottom: 17px;
  font-size: 12px;
  color: black;
  font-weight: 300;
}


.footer-list:hover{
  text-decoration: underline;
}

.footer-input{
  height: 16px;
  width: 188px;
  padding: 12px 65px 13px 10px;
}


.footer-bottom{
  padding-top: 4%;
  text-align: left;
  width: 100%;
  height:20%;
  max-width: 1330px;
}


.all-items{
  display:flex;
  height: 100vh;
  padding-top: 20px;
}


.item-holder{
  display:flex;
  flex-direction: column;
  height: 596 px;
  width: 330px;
  padding: 0px 3px 0px 3px;
}

.item-holder img{
  width: 320px;
  height: 496px
}

.item-holder p:hover b{
  text-decoration: underline;
}

.item-page{
  height: 110vh;
  width: 100%;
  display: flex; 
  justify-content: center;

}

.product-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 100%;
  max-width:1330px;
}

.product-inner{
  display: flex;
  height: 90%;
  width: 85%;
}

.product-images{
  height: 100%;
  width: 50%;
  display: flex;
  padding-top: 2.8%;
}

.product-description{
  height: 100%;
  width: 50%;
}

.product-description-inner{
  display:flex;
  flex-direction: column;
  padding: 6% 0px 0% 25%;
  width:76%;
  height: 100%;
}
.logo img{
  height: 20px !important;
  width: 160px !important;
}

.product-name{
  padding-top: 3%;
  font-size: 24px;
  padding-bottom:3%;
  color: #1d1d1d;
}

.image-carousel{
  width:30%;
  height:100%;
  display:flex;
  flex-direction: column;
  margin:0;
}

.image-carousel-content img{
  height: 148px;
  width:98px;
  margin:0;
  padding: 0px 5px 5px 47%;
}
.large-product-image{
  right:0;
  bottom:0;
  height:100%;
  width: 100%;
  max-width: 440px;
  padding-left:5%;
}
.carousel{
  height: 90%;
  width: 100%;
}
.large-product-image img{
  height: 93%;
}

.image-carousel img{
  height: 151px;
  width: 98px;
  margin:0;
  padding-bottom: 3%;
}

.carousel{
  display:flex;
  height:93%;
  flex-direction: column;
  padding-left: 21%;
  overflow:hidden;
}

.image-carousel img:hover{
  cursor: pointer;
}

.next-button{
  width:98px;
  height: 30px;
  position:absolute;
  bottom:23px;
  opacity: 0.7;
  border:none;
}

.social-icons{
  width: 100%;
  height: 30px;
  display: flex;
  left: -2px;
}

.social-icons a{
  padding: 0px 2% 0px 2%;
}

.sign-up-button{
  background-color: black; 
  color:white;
  font-family:  "DM Sans",sans-serif;
  font-size: 12px;
  width: 75px;
  height: 41.5px;
  border: none;
}


.footer-input-email{
  height: 16px;
  width: 185px;
  padding: 12px 0 13px 10px;
}

label{
  font-size: 12px;
  vertical-align: middle;
}

input[type="radio"]{
  height: 13px;
  width: 13px;
  vertical-align: middle;
  margin-top:0;
}

.product-price{
  font-size: 24px;
  color: #1d1d1d;
}

.after-pay, .after-pay a{
  font-size: 12px;
  color: #797676;
  font-style: italic;
}

.after-pay img{
  vertical-align: bottom;
}

.product-color{
  font-size: 14px;
  padding-top: 8%;
  padding-bottom: 5%;
  color: #1d1d1d;
}
.size-selector{
  height: 50%;
}

.size-selector select{
  border: 1px solid #e2e2e2;
  cursor: pointer;
  padding: 0 7% 0 9%;
  width: 93%;
  height: 100%;
  font-family:  "DM Sans",sans-serif;
}

.size-selector form{
  height: 14%;
}

.size-link{
  padding: 5% 0 7% 0;
  font-size:.85vw;
}

.add-to-bag, .pick-up{
  height: 14%;
  width: 93%;
  padding-bottom: 5%;
}

.add-to-bag button{
  background-color: black;
  color: white;
  border: 1px solid #e2e2e2;
}

.pick-up button{
  background-color: white;
  opacity: 0.7;
  border: 1px solid #e2e2e2;
}

.size-selector button{
  height: 100%;
  width: 100%;
}

.color-size-text{
  display: flex; 
  text-align: center;
  flex-direction: column;
  width: 93%;
}
.color-size-text p{
  margin:0;
  color: #1d1d1d;
  font-size: 14px;
  padding-bottom: 5%;
}
